@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ***************Company Metrics Component**************** */

.valuation-metrics-container h3 {
  @apply text-left font-bold mt-10;
}
.valuation-metrics-container table {
  @apply border-spacing-0 mx-0 my-[5px] pl-0 pr-2.5 py-0 text-left;
}
.valuation-metrics-container table tr {
  @apply h-9 table-row mx-0 my-[5px] border-b-[#e0e4e9] border-b border-solid;
}
.valuation-metrics-container > table > tr > td {
  @apply text-[0.95rem] w-full border-b-[#e0e4e9] border-b border-solid;
}
.valuation-metrics-container > table > tr > td:nth-child(even) {
  @apply text-right;
}
